<div class="account">
	<div class="_container">
		<div class="account__container">
			<div class="account__title">Личный кабинет</div>
			<div class="account__user">
				<div class="account__photo"><img src="../images/photo.avif" alt="Фото профиля" class="image" /></div>
				<div class="account__name">Ангелина</div>
			</div>
			<div class="account__content">
				<div class="account__bonuses">
					<div class="account__bonusesCount">0</div>
					<button class="account__bonusesButton">Мои бонусы ></button>
					<div class="account__bonusesImg"><img src="../images/coins.avif" alt="Монеты" class="image" /></div>
				</div>
				<div class="account__orders">
					<div class="account__ordersTitle">Мои заказы</div>
					<button class="account__ordersButton">Нет заказов ></button>
					<div class="account__ordersImg"><img src="../images/box.avif" alt="Заказы" class="image" /></div>
				</div>
			</div>
			<div class="account__additional">
				<div class="account__liked">
					<div class="account__likedImg"><img src="../images/liked.avif" alt="Избранное" class="image" /></div>
					<span>
						<div class="account__likedTitle">Избранное</div>
						<div class="account__likedCount">0 товаров</div>
					</span>
					<button class="account__likedButton">&gt;</button>
				</div>
				<div class="account__support">
					<div class="account__supportImg"><img src="../images/support.avif" alt="Обращения" class="image" /></div>
					<span>
						<div class="account__supportTitle">Обращения</div>
						<div class="account__supportCount">0 обращений</div>
					</span>
					<button class="account__supportButton">&gt;</button>
				</div>
			</div>
			<div class="account__help">
				<span>
					<div class="account__helpImg"><img src="../images/headphonesHelp.avif" alt="Помощь" class="image" /></div>
					<div class="account__helpTitle">Нужна помощь?</div>
				</span>
				<button class="account__helpChat">В чат</button>
			</div>
		</div>
	</div>
</div>
