<div class="catalog">
	<div class="_container">
		<div class="catalog__container">
			<aside class="catalog__left">
				<button class="catalog__back">назад</button>
				<div class="catalog__filters">
					<div class="catalog__categories">
						<div class="catalog__catTitle">Категории</div>
						<div class="catalog__catList">
							<button class="catalog__cat">Мягкая мебель</button>
							<button class="catalog__cat">Кресла</button>
							<button class="catalog__cat">Кожаная мебель</button>
							<button class="catalog__cat">Диваны</button>
							<button class="catalog__cat">Кресла</button>
							<button class="catalog__cat">Пуфы</button>
							<button class="catalog__cat">Лофт</button>
						</div>
					</div>
					<div class="catalog__toggle">
						<div class="catalog__toggleTitle">Только в наличии</div>
						<div class="catalog__toggleContent">
							<input type="checkbox" class="catalog__checkbox" />
							<span class="catalog__switch"></span>
						</div>
					</div>
					<div class="catalog__price">
						<div class="catalog__priceTitle">Цена (руб.)</div>
						<div class="catalog__priceContent">
							<p>от</p>
							<input type="number" id="priceFrom" />
							<p>до</p>
							<input type="number" id="priceFrom" />
						</div>
					</div>
					<div class="catalog__color">
						<div class="catalog__colorTitle">Цвет</div>
						<div class="catalog__colorList">
							<div class="catalog__colorItem">
								<input type="checkbox" class="catalog__colorItem" />
								<p>Бежевый</p>
							</div>
							<div class="catalog__colorItem">
								<input type="checkbox" class="catalog__colorItem" />
								<p>Белый</p>
							</div>
							<div class="catalog__colorItem">
								<input type="checkbox" class="catalog__colorItem" />
								<p>Бетон</p>
							</div>
							<div class="catalog__colorItem">
								<input type="checkbox" class="catalog__colorItem" />
								<p>Бирюзовый</p>
							</div>
							<div class="catalog__colorItem">
								<input type="checkbox" class="catalog__colorItem" />
								<p>Бодега</p>
							</div>
						</div>
					</div>
					<div class="catalog__height">
						<div class="catalog__heightTitle">Высота</div>
						<div class="catalog__heightContent">
							<p>от</p>
							<input type="text" id="heightFrom" />
							<p>до</p>
							<input type="text" id="heightTo" />
						</div>
					</div>
					<div class="catalog__depth">
						<div class="catalog__depthTitle">Глубина</div>
						<div class="catalog__depthContent">
							<p>от</p>
							<input type="text" id="depthFrom" />
							<p>до</p>
							<input type="text" id="depthTo" />
						</div>
					</div>
				</div>
			</aside>
		</div>
	</div>
</div>
