<div class="delivery">
	<div class="_container">
		<div class="delivery__container">
			<div class="delivery__title">Доставка</div>
			<div class="delivery__text">
				<p>
					Мы доставляем товары по городу Чебоксары платно. Доставка построена по принципу “Все включено”, доставка включает подъем на грузовом лифте и
					занос изделий в квартиру, дом или офис.
				</p>
				<p>Поскольку большинство наших изделий довольно внушительных размерова, мы согласовываем с вами заранее габариты лифта.</p>
				<p>
					Если изделие полностью не заходит в лифт мы предлагаем разделить изделие на несколько частей. В собранном виде изделие смотрится как единое
					целое, и на качество или функциональность влияния не оказывается.
				</p>
			</div>
			<div class="delivery__advantages">
				<div class="delivery__advantage">
					<div class="delivery__advImage"><img src="../images/image 80.avif" alt="" class="image" /></div>
					<div class="delivery__advText">Доставляем с 10 до 23</div>
				</div>
				<div class="delivery__advantage">
					<div class="delivery__advImage"><img src="../images/image 81.avif" alt="" class="image" /></div>
					<div class="delivery__advText">Храним на складе до 14 дней</div>
				</div>
				<div class="delivery__advantage">
					<div class="delivery__advImage"><img src="../images/image 82.avif" alt="" class="image" /></div>
					<div class="delivery__advText">Упаковываем аккуратно и быстро</div>
				</div>
				<div class="delivery__advantage">
					<div class="delivery__advImage"><img src="../images/image 83.avif" alt="" class="image" /></div>
					<div class="delivery__advText">Звоним за час</div>
				</div>
			</div>
			<div class="delivery__prices">
				<div class="delivery__pricesText">Стоимость доставки и установки</div>
				<div class="delivery__pricesContainer">
					<div class="delivery__left">
						<div class="delivery__pricesTitle">Чебоксары</div>
						<div class="delivery__pricesDesc delivery__pricesDescLeft">
							Доставка + подъем на лифте габаритных изделий Стоимость доставки также зависит от количества изделий
						</div>
						<div class="delivery__pricesPrice">2000 - 5000</div>
						<div class="delivery__pricesDetails">Высота/ширина более 1200 мм Вес более 15 кг Упаковка - картон</div>
					</div>
					<div class="delivery__right">
						<div class="delivery__pricesTitle">Сборка и установка</div>
						<div class="delivery__pricesDesc">
							Сборка производится в день доставки. Выезд в другой день оплачивается отдельно. Монтаж осуществляют 2 человека. Минимальная
							стоимость - 5000
						</div>
						<div class="delivery__pricesPrice">10% от стоимости</div>
						<div class="delivery__pricesDetails">Сборка изделий Фиксация в стенке в указанном месте Крепежи включены в стоимость</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
