<div class="login">
	<div class="login__container">
		<div class="login__title">Вход в кабинет</div>
		<div class="login__content">
			<form action="" method="" class="login__form">
				<div class="login__request"><label for="email" class="login__formText">E-mail:</label><input type="email" class="login__formInput" /></div>
				<div class="login__request">
					<label for="password" class="login__formText">Пароль:</label><input type="password" class="login__formInput" />
				</div>
				<input type="submit" class="login__login" value="Войти" />
				<input type="button" class="login__signup" value="Зарегистрироваться" />
				<input type="button" class="login__forgot" value="Забыли пароль?" />
			</form>
		</div>
	</div>
</div>
