<header class="header">
	<div class="_container">
		<div class="header__top">
			<div class="header__city">Чебоксары</div>
			<nav class="header__nav">
				<a href="" class="header__link">Доставка</a><a href="" class="header__link">Главная</a><a href="" class="header__link">Каталог</a
				><a href="" class="header__link">Карточка товара</a>
			</nav>
			<a href="tel:88003008030" class="header__tel">8 800-300-80-30</a>
		</div>
		<div class="header__bottom">
			<div class="header__logo"><img src="../images/logo2.avif" alt="Лого компании" class="image" /></div>
			<div class="header__input">
				<input type="text" class="header__search" placeholder="Поиск" />
				<p class="header__searchIcon"></p>
			</div>
			<div class="header__personal">
				<a href="" class="header__account"></a>
				<a href="" class="header__cart"></a>
			</div>
		</div>
	</div>
</header>
